In [42]:
import sqlite3
conn = sqlite3.connect('baza.db')

c = conn.cursor()

In [43]:
#tworzenie tabeli
c.execute('''CREATE TABLE sklep
             (nazwa TEXT, artykul_id INTEGER, cena REAL, KrajPochodzenia)''')

In [44]:
#dodawanie danych
c.execute("""INSERT INTO sklep VALUES 
        ('Biedronka', 69, 25.40, 'Polska')""")
c.execute("""INSERT INTO sklep VALUES 
        ('Lidl', 21, 13.02, 'Rosja')""")
c.execute("""INSERT INTO sklep VALUES 
        ('Tesco', 1435, 0.99, 'Ukraina')""")
c.execute("""INSERT INTO sklep VALUES 
        ('Hipernova', 1, 352.99, 'Uganda')""")

In [47]:
#wy≈õwietlanie danych z bazy danyh 
for row in c.execute('SELECT * FROM sklep ORDER BY nazwa'):
        print(row)

('Hipernova', 1, 352.99, 'Uganda')
('Lidl', 21, 13.02, 'Rosja')
('Tesco', 1435, 0.99, 'Ukraina')

In [46]:
c.execute('DELETE FROM sklep WHERE nazwa=?', ('Biedronka',))

In [48]:
c.execute('UPDATE sklep SET nazwa=? WHERE nazwa=?' ,("Biedronka","Lidl"))

In [49]:
c.close()
conn.close()